extends ../pug/layout.pug

block meta
  title P&B Stratwork
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.header
    img.header__logo(src='img/logo.svg', alt='P&B Stratwork. Логотип')

block content
  main.page__main
    h1.page__title Добро пожаловать #[br]на&nbsp;корпоративный сайт компании&nbsp;
      span.page__title-company P#[span.page__title-company--highlight &]B Stratwork
    p.page__text.page__text--reconstruction В&nbsp;текущий момент сайт находится на&nbsp;реконструкции.
    p.page__text Будет открыт 24&nbsp;апреля 2023&nbsp;года.
    p.page__email Email для связи:
      a.page__email-link(href='mailto:info@pbsw.ru') info@pbsw.ru
    p.page__text.page__text--reconstruction.page__text--eng The site is currently under reconstruction.
    p.page__text It will open on April&nbsp;24, 2023

block footer
  footer.footer
    small.footer__copyright © 2023. P&B Stratwork
