extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.header
    img.header__logo(src='img/logo.svg', alt="P&B Stratwork. Логотип")

block content
  main.
  h1.page__head Добро пожаловать на&nbsp;корпоративный сайт компании&nbsp;
    span.page__head-company P&B Stratwork.
  p.page__text В&nbsp;текущий момент сайт находится в&nbsp;разработке.
  p.page__text Будет открыт 01&nbsp;апреля 2023&nbsp;года.
  p.page__email Email для связи:
    a.page__email-link(href="mailto:info@pbsw.ru") info@pbsw.ru

block footer
  footer.footer
    small.footer__copyright © 2023, P&B Stratwork

