extends ../pug/layout.pug

block meta
  title Социальные цифровые платформы
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  header.header
    img.header__logo(src='img/logo.png', alt='Социальные цифровые платформы. Логотип')

block content
  main.page__main
    h1.page__title Добро пожаловать #[br]на&nbsp;корпоративный сайт компании&nbsp;
      span.page__title-company #[span.page__title-company--highlight Социальные цифровые платформы]
    p.page__text.page__text--reconstruction В&nbsp;текущий момент сайт находится на&nbsp;реконструкции.
    p#text-date-ru.page__text Будет открыт #[span#date-container 15&nbsp;августа 2023&nbsp;года].
    p.page__email Email для связи:
      a.page__email-link(href='mailto:info@edutant.ru') info@edutant.ru
    p.page__text.page__text--reconstruction.page__text--eng The site is currently under reconstruction.
    p#text-date-en.page__text.page__text--eng-date It will open on #[span#date-container August&nbsp;15, 2023]

block footer
  footer.footer
    small.footer__copyright © #[span#year-container 2023]. Социальные цифровые платформы
